{% extends "layout.html" %}
{% block content %}



<div class="row">
  <div class="col col-lg-1">
    <!-- empty -->
  </div>

  <div class="col col-lg-10">

    <div class="card col-sm-12">
      <div class="card-body">
        <h2>NFL 2019 Picks!</h2>
      </div>

      {% if current_user.is_authenticated and completed %}
      <p>Thank you, {{ current_user.username }}. We have registered your picks!</p>
      {% elif current_user.is_authenticated %}
      <p>Did you make your pickes, {{ current_user.username }}?</p>
      {% else %}

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ready to select the winner?</h5>
              <p class="card-text">Login to make your weekly picks. We have tried to automate <br>the whole
                NFL picks process.</p>
              <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Not yet register?</h5>
              <p class="card-text">Register, if you have not already :). We use your username <br>and
                email for statistics and sending pick reminders</p>
              <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    {% endif %}

    <br>

    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/featured/miami_dolphin.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-gradient-light text-dark">
              <h5>Where is Miami Dolphins?</h5>
              <p>Will Dolphins go to playoff this season? Ask Johnny?</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/featured/tom_brady.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-light text-dark">
              <h5>Rachel's Tom Brandy</h5>
              <p>It appares that Rachel's team is going to win this season. Again.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/featured/panther.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-light text-dark">
              <h5>Prayson to Panther</h5>
              <p>After watching Marvel's Black Panther, Prayson is cheering for Panthers this season</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col col-lg-2">
      <!-- empty -->

    </div>
  </div>
  <div class="col col-lg-2">
    <!-- empty -->

  </div>
</div>

{% endblock %}